@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
.ti-cursor {
  display: none !important;
}
article {
  overflow: hidden;
}
.grid-decor-container {
  position: absolute;
  height: 100%;
  opacity: 0.15;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991px) {
  .grid-decor-container {
    display: none !important;
  }
}
.grid-decor-container.grid-decor-reverse {
  z-index: 0;
}
.grid-decor-container.grid-decor-reverse .grid-decor {
  border-color: black;
}
.grid-decor-container .grid-decor {
  border-left: white 1px dashed;
  border-right: white 1px dashed;
  margin: 0 12px;
}
.grid-decor-container .grid-decor:first-child {
  margin-left: 0;
}
.grid-decor-container .grid-decor:last-child {
  margin-right: 0;
}
.safari .banner-text .line:first-of-type .small {
  position: relative;
  top: 5px;
}
.safari .banner-text .line:nth-of-type(2) .small {
  top: 0;
}
.safari footer .contacts .line {
  margin-top: 35px;
}
.banner {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.banner .banner-top {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  z-index: 9;
  color: #fff;
  font: 400 16px "quasimoda", sans-serif;
}
@media (max-width: 767px) {
  .banner .banner-top {
    left: 27px;
  }
}
.banner .banner-top a {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 2;
  display: none;
  font-family: "Public Sans", sans-serif;
}
@media (min-width: 768px) {
  .banner .banner-top a {
    display: inline;
  }
}
.banner .banner-top svg {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 142px);
  animation: animateCircle 1s;
  opacity: 0.7;
}
.banner .bottom-mobile {
  position: absolute;
  bottom: 57px;
  left: 27px;
  color: #fff;
  font: 400 16px "quasimoda", sans-serif;
}
@media (min-width: 768px) {
  .banner .bottom-mobile {
    display: none;
  }
}
.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.banner:after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  top: 0;
  left: 0;
  height: 300%;
  width: 300%;
  position: absolute;
  z-index: 1;
  opacity: 0.1;
  animation: animateGrain 8s steps(10) infinite;
}
.banner-text {
  padding: 45px 75px 35px;
  position: relative;
  z-index: 2;
  color: #fff;
  font: 600 117px/1 "quasimoda", sans-serif;
  letter-spacing: -1.172px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .banner-text {
    font-size: 56px;
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  .banner-text {
    min-width: 900px;
  }
}
@media (min-width: 1367px) {
  .banner-text {
    min-width: 950px;
  }
}
.banner-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 55px;
  height: 55px;
  background: url("static/corner_top.svg") 0 0 no-repeat;
}
@media (max-width: 768px) {
  .banner-text:before {
    display: none;
  }
}
.banner-text:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 55px;
  height: 55px;
  background: url("static/corner_bottom.svg") 0 0 no-repeat;
}
@media (max-width: 768px) {
  .banner-text:after {
    display: none;
  }
}
.banner-text .invisible {
  width: 1px;
}
.grain {
  background: url("static/grain.svg") 0 0 no-repeat;
  width: 195px;
  height: 214px;
  position: absolute;
  z-index: 1;
}
.grain-top {
  top: 0;
  left: 0;
}
.grain-bottom {
  bottom: -107px;
  right: 0;
}
.banner-text .line {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .banner-text .line {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .banner-text .line span {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
}
.banner-text .line:first-of-type,
.banner-text .line:nth-of-type(3) {
  justify-content: end;
}
.banner-text .small {
  font: 32px "ivypresto-display", sans-serif;
  font-style: italic;
  text-transform: none;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .banner-text .small {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
.banner-text .line:first-of-type .small {
  margin-right: 20px;
}
.banner-text .line:nth-of-type(2) .small {
  margin-left: 20px;
  top: -20px;
}
.wave_blue {
  position: relative;
  display: block;
}
.wave_blue:after {
  content: "";
  position: absolute;
  top: -99px;
  left: -110px;
  z-index: 0;
  width: 244px;
  height: 244px;
  transform: scale(0.00001);
  transition: 0.3s all;
  background: url("static/wave_blue.svg") 0 0 no-repeat;
  background-size: cover;
}
.wave_blue[data-typeit-id]:after {
  transform: scale(1);
}
@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }
  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, -20%);
  }
}
@keyframes animateCircle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(0.8);
  }
}
main {
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;
}
@media (max-width: 991px) {
  main {
    padding-bottom: 50px;
  }
}
main #banner-circle-bottom {
  position: absolute;
  top: -148px;
  left: 0;
  z-index: 1;
}
@media (max-width: 768px) {
  main #banner-circle-bottom {
    opacity: 0.4;
  }
}
.section {
  margin: 0 auto 40px;
  padding: 100px 0;
  max-width: 730px;
}
@media (max-width: 991px) {
  .section {
    padding: 50px 0;
    margin: 0 auto 40px;
  }
}
.section.description .grid-bg1,
.section.description .grid-bg2 {
  position: absolute;
  z-index: 0;
}
.section.description .grid-bg1 {
  top: 75px;
  left: -230px;
}
.section.description .grid-bg2 {
  top: 0;
  right: -230px;
}
.section.description p {
  font: 300 18px "Public Sans", sans-serif;
  line-height: 1.5;
  color: #000;
  margin-bottom: 30px;
}
.section.description strong {
  font-weight: 600;
}
.section.description a {
  display: inline-block;
  margin: 0 0 0 auto;
  text-transform: uppercase;
  text-decoration: none;
  font: 600 14px "quasimoda", sans-serif;
  line-height: 1.2;
  color: #131313;
}
.section.description a svg {
  margin-right: 10px;
}
.section.description a span {
  display: inline-block;
  border-bottom: 1px solid #000;
}
.section.portfolio {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
}
.section.portfolio p {
  font: 300 24px "Public Sans", sans-serif;
  line-height: 1.7;
  color: #2C067E;
  margin-bottom: 35px;
}
.section.portfolio a {
  display: block;
  color: #7B54CE;
  font: 300 23px/47px "Public Sans", sans-serif;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid #DC44F4;
  border-radius: 40px;
  padding: 0 15px 2px;
  position: relative;
  margin: 0 15px 35px;
  transition: 0.3s all;
}
.section.portfolio a.filled,
.section.portfolio a:hover {
  color: #fff;
  border-color: transparent;
  background: linear-gradient(90deg, #dc44f4 30%, #c163ee 50%, #3c02b6 80%);
}
.section.portfolio a span {
  position: relative;
  top: 1px;
}
.section.portfolio .position-links {
  margin-bottom: 20px;
}
.section.portfolio .button {
  background: #2c067e;
  color: #fff;
  padding: 16px 22px 14px;
  font: 600 14px/30px "quasimoda", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: 0.3s all;
}
.section.portfolio .button:hover {
  color: #2c067e;
  outline: 1px solid #2c067e;
  background: #fff;
}
footer {
  overflow: hidden;
  padding: 100px 0 40px;
  color: #fff;
  position: relative;
  background: url("static/footer.svg") 0 0 no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  footer {
    padding: 60px 0 40px;
  }
}
footer:after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  top: 0;
  left: 0;
  height: 300%;
  width: 300%;
  position: absolute;
  z-index: 1;
  opacity: 0.1;
  animation: animateGrain 8s steps(10) infinite;
}
footer .contacts {
  position: relative;
  z-index: 9;
  display: grid;
  grid-template-columns: fit-content(480px) 180px 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 36px;
  row-gap: 105px;
  align-items: center;
  grid-template-areas: "connect line email phone ." ". . designer designer social";
}
@media (max-width: 1440px) {
  footer .contacts {
    column-gap: 30px;
    grid-template-areas: "connect line email phone phone" ". . designer designer social";
  }
}
@media (max-width: 1400px) {
  footer .contacts {
    grid-template-areas: "connect line email phone phone" ". designer designer designer social";
  }
}
@media (max-width: 1199px) {
  footer .contacts {
    grid-template-columns: fit-content(480px) 100px 1fr 1fr 1fr;
  }
}
@media (max-width: 991px) {
  footer .contacts {
    grid-template-areas: "connect connect connect email phone" "designer designer designer designer social";
  }
}
@media (max-width: 768px) {
  footer .contacts {
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    justify-items: center;
    grid-template-areas: "connect connect connect connect connect" "email email email email email" "phone phone phone phone phone" "designer designer designer designer designer" "social social social social social";
  }
}
footer .contacts .connect {
  grid-area: connect;
}
footer .contacts .line {
  grid-area: line;
  align-self: start;
}
footer .contacts .email {
  grid-area: email;
}
footer .contacts .phone {
  grid-area: phone;
}
footer .contacts .designer {
  grid-area: designer;
}
footer .contacts .social {
  grid-area: social;
}
footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
footer .connect {
  font: 600 48px "quasimoda", sans-serif;
  position: relative;
  text-transform: uppercase;
}
footer .line {
  margin-top: 20px;
  height: 1px;
  background-color: #fff;
}
footer .info {
  margin-top: -5px;
  font: 300 18px "Public Sans", sans-serif;
  line-height: 1.5;
}
footer .designer {
  font: 300 18px "ivypresto-display", sans-serif;
  font-style: italic;
  line-height: 28px;
}
@media (min-width: 1366px) {
  footer .designer {
    margin-right: 15px;
  }
}
@media (max-width: 1440px) {
  footer .designer {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  footer .designer br {
    display: none;
  }
}
footer .social {
  display: flex;
  justify-self: end;
}
footer .social a {
  display: block;
  margin: 0 9px;
}
footer .social a:first-child {
  margin-left: 0;
}
footer .social a:last-child {
  margin-right: 0;
}
@media (max-width: 1399px) {
  footer .connect {
    font-size: 40px;
  }
  footer .info {
    font-size: 15px;
  }
}
@media (max-width: 1199px) {
  footer .connect {
    font-size: 36px;
  }
  footer .info {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  footer .connect {
    font-size: 28px;
  }
  footer .line {
    display: none;
  }
}
.portfolio-title-container {
  position: relative;
  height: 190px;
  margin-bottom: 120px;
}
@media (max-width: 991px) {
  .portfolio-title-container {
    height: 100px;
    margin-bottom: 35px;
  }
}
.portfolio-title-container .portfolio-title {
  left: 0;
  height: 190px;
  position: absolute;
  overflow-x: hidden;
}
@media (max-width: 991px) {
  .portfolio-title-container .portfolio-title {
    height: 100px;
  }
}
.portfolio-title-container .portfolio-title h2 {
  text-transform: uppercase;
  font: 400 200px/1 "Public Sans", sans-serif;
  width: 100%;
  padding-top: 0;
  margin: 0 auto;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .portfolio-title-container .portfolio-title h2 {
    font-size: 100px;
  }
}
.portfolio-title-container .portfolio-title h2 span {
  background: linear-gradient(90deg, #dc44f4 30%, #c163ee 50%, #3c02b6 80%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
  animation: scrolling-left2 90s linear infinite;
  animation-delay: 1s;
}
.portfolio-title-container .portfolio-title h2 span + span {
  background: linear-gradient(90deg, #3c02b6 30%, #c163ee 50%, #dc44f4 80%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
.design-experience-text-container {
  z-index: 1;
}
.design-experience-text h2 {
  font: 500 49px/49px "ivypresto-display", sans-serif;
}
.design-experience-text h3 {
  font: 300 25px/37px "ivypresto-display", sans-serif;
  margin-bottom: 25px;
}
.design-experience-text p {
  font: 400 16px/24px "freight-sans-pro", sans-serif;
  margin-bottom: 25px;
}
.design-experience-text a {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 14px/30px "quasimoda", sans-serif;
  width: 216px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
  background: linear-gradient(269.32deg, #3C02B6 1.09%, #C163EE 51.81%, #DC44F4 100.09%);
}
.design-experience-text a:hover {
  background: linear-gradient(269.32deg, #DC44F4 1.09%, #C163EE 51.81%, #3C02B6 100.09%);
}
.design-experience-container {
  position: relative;
  z-index: 1;
}
.design-experience {
  margin-bottom: 120px;
}
@media (max-width: 1399px) {
  .design-experience {
    display: none;
  }
}
.design-experience.anna {
  padding-bottom: 115px;
}
.design-experience.anna .design-experience-text {
  width: 304px;
}
.design-experience.anna .design-experience__img-mob {
  max-width: 111%;
  left: -18px;
  position: relative;
}
.design-experience.anna .design-experience__img-bg {
  position: relative;
  max-width: calc(100% + 5px);
  left: -5px;
}
.design-experience.anna .design-experience__img-screen {
  position: absolute;
  bottom: -113px;
  right: 76px;
  max-width: 630px;
}
.design-experience.anna .design-experience__img-icon {
  position: absolute;
  top: -50px;
  left: -42px;
}
.design-experience.anna .design-experience__img-gradient {
  position: absolute;
  top: -204px;
  left: -215px;
  max-width: 720px;
}
.design-experience.anna .design-experience__img-dots {
  position: absolute;
  bottom: -84px;
  left: 50px;
}
.design-experience.bloom {
  padding-top: 54px;
}
.design-experience.bloom .design-experience-text {
  width: 240px;
}
.design-experience.bloom .design-experience__img-mob {
  max-width: 103%;
  right: -25px;
  top: -20px;
  position: relative;
}
.design-experience.bloom .design-experience__img-bg {
  position: relative;
  max-width: 800px;
  left: -5px;
}
.design-experience.bloom .design-experience__img-screen {
  position: absolute;
  bottom: -53px;
  right: 20px;
  max-width: 574px;
}
.design-experience.bloom .design-experience__img-icon {
  position: absolute;
  top: -54px;
  right: 98px;
}
.design-experience.bloom .design-experience__img-dots {
  width: 255px;
  display: block;
  margin-bottom: 5px;
}
.design-experience.flowerful {
  padding-top: 54px;
}
.design-experience.flowerful .design-experience-text p {
  width: 320px;
}
.design-experience.flowerful .design-experience__img-mob {
  position: absolute;
  bottom: -114px;
  width: 170px;
  right: 540px;
}
.design-experience.flowerful .design-experience__img-bg {
  position: relative;
  max-width: 820px;
}
.design-experience.flowerful .design-experience__img-screen {
  position: absolute;
  bottom: -115px;
  right: -20px;
  max-width: 574px;
}
.design-experience.flowerful .design-experience__img-icon {
  position: absolute;
  top: -54px;
  right: 77px;
}
.design-experience.flowerful .design-experience__img-dots {
  width: 255px;
  display: block;
  margin-bottom: 5px;
}
/*# sourceMappingURL=styles.css.map */